* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url('assets/background.jpg');
    /* Utiliser min-height si nécessaire pour forcer le contenu à occuper toute la page */
    min-height: 100%; /* Remplacez 100vh par 100% */
    width: 100%; 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;  
    background-attachment: fixed;
    margin: 0; 
    overflow-x: hidden; /* Bloquer le défilement horizontal */
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2e2e2e;
    padding: 10px 20px;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    color: white;
}

.logo img {
    display: flex;
    margin-right: 10px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: white; 
    font-size: 18px;
}

.nav-links li a:hover {
    text-decoration: underline;
}
.search-container {
    display: flex;
    align-items: center;
    width: 380px;
    background-color: white;
    border-radius: 38px;
    max-width: 100%; /* Assure que la div ne dépasse pas son conteneur parent */
    overflow: hidden; /* Cache tout ce qui dépasse */
}

.search-container input {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 38px; /* Assure une bordure arrondie */
    outline: none;
    box-sizing: border-box; /* Inclut les paddings et les bordures dans la largeur totale */
}

.search-container .search-btn,
.search-container .clear-btn {
    margin-left: 10px;
    padding: 5px 15px;
    border: none;
    border-radius: 8px;
    color: white;
    background-color: rgb(2, 131, 2); 
}

.search-container .clear-btn {
    background-color: rgb(2, 131, 2); 
}

/*.home{
    background: linear-gradient(to bottom, #ff7e5f, #feb47b);
} */
.homeh1{
    color:white;
    margin-top:15%;
    margin-left:20%;
    width: 20%;
    height: 9%;
    font-size:36px;
}
.about1{
    color:white;
    margin-top:20%;
    width: 30%;
    height: 9%;
    font-size:36px;
    font-weight: bold;
}

.homep {
    width: 25%;
    color:white;
    margin-left:20%;
    margin-top:1%;
}
.about_us{
    width: 70%;
    color:white;
    margin-left:20%;
    margin-top:15%;
}
.about{
    margin-top:2%;
}
#book{
    margin-top:3%;
    margin-left:20%;
    color:white;
    background-color: rgb(2, 131, 2); 
    height: 30px;
    width: 100px;
    border-radius: 4px;
    border:none;
}

.social-link{
    position: fixed;
    bottom: 30%; /* Distance du bas de la fenêtre */
    left: 15px;
    margin-left: 5px;
    height: 10%;
    width: 10px;
}
.icon{
 
    width: 30px;
    height: 30px;
}
.btn{
    margin-left: 10px;
    padding: 5px;
    border: none;
    border-radius: 8px;
    color: white;
    background-color: rgb(2, 131, 2); 
}
.profil{
    width: 40px;
    height: 30px;
}
.team{
    width: 80%;
    height: 40%;
    display: flex;
    align-items: center; 
    justify-content: space-around;
}
.team-info{
    display: flex;
    width: 30%;
    height:20%;
    flex-direction: column;
    justify-content: center;
    margin-left:30px;
    margin-top:5%;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}
.profname{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact_container{
    width:30%;
    height:60%;
    display: flex;
    flex-direction: column;
    padding-top:6%;
    /* background-color: blue; */
    justify-content: space-between;
}
.contact{
    color:white;
    font-size:36px;
    /* margin-top:20%; */
    font-weight: bold;
}
.contact1{
    margin: 0;
    color: white;
    margin-top: 15%;
}
.label{
    color:white;
}
.input{
    display:flex;
    background-color: transparent;
    height:20%;
    width: 85%;
    color:white;
}
.inputMessage{
    background-color: transparent;
    height:50%;
    width: 85%;
    color: white;
}
.form-container{
    display:flex;
    width: 80%;
    margin-bottom: 10%;
    flex-direction: column;
}
.contact_us{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-left: 20%;
    margin-top: 15%;
    margin-bottom:10%;
}
.btn-submit{
    display:flex;
    border: none;
    border-radius: 8px;
    color: white;
    background-color: rgb(2, 131, 2);
    width:80%;
    height:10%;
    justify-content:center;
    font-weight:bold;
    font-size: 18px;
    margin-left:3%;
}


#search-answers {
    position: absolute;
    color: grey;
    /* background-color: red; */
    width: 50%;
    /* min-height: 100%;  */
    top: 0%; 
    right: 1%;
    padding: 6%;
    overflow-y: auto; 
}
.result{
    /* width: 100%; */
    height: 60%;
    background-color: white;
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
    padding: 2%;
    margin-bottom:2%;
}
.answerImage{
    height:240px;
    width:487px;
    object-fit:fill;
}
.ansbutton{
    margin-top:3%;
    color:white;
    background-color: rgb(2, 131, 2); 
    height: 30px;
    width: 100px;
    border-radius: 4px;
    border:none;
}