* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2e2e2e;
    padding: 10px 20px;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    color: white;
}

.logo img {
    display: flex;
    margin-right: 10px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: white; 
    font-size: 18px;
}

.nav-links li a:hover {
    text-decoration: underline;
}
.search-container {
    display: flex;
    align-items: center;
    width: 380px;
    background-color: white;
    border-radius: 38px;
    max-width: 100%; /* Assure que la div ne dépasse pas son conteneur parent */
    overflow: hidden; /* Cache tout ce qui dépasse */
}

.search-container input {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 38px; /* Assure une bordure arrondie */
    outline: none;
    box-sizing: border-box; /* Inclut les paddings et les bordures dans la largeur totale */
}

.search-container .search-btn,
.search-container .clear-btn {
    margin-left: 10px;
    padding: 5px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    background-color: rgb(2, 131, 2); 
}

.search-container .clear-btn {
    background-color: rgb(2, 131, 2); 
}

.container{
    background-image: url('assets/background.jpg');
    min-height: 100vh;
    width: 100vw; 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}