* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2e2e2e;
    padding: 10px 20px;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    color: white; /* Assure que le texte du logo est en blanc */
}

.logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: white; /* Texte des liens en blanc */
    font-size: 18px;
}

.nav-links li a:hover {
    text-decoration: underline;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-container input {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
}

.search-container .search-btn,
.search-container .clear-btn {
    margin-left: 10px;
    padding: 5px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    color: white; /* Texte des boutons en blanc */
}

.search-container .search-btn {
    background-color: #006666;
}

.search-container .clear-btn {
    background-color: #f44336;
}
